.fade-in {
  animation: fadeIn ease 12s;
  -webkit-animation: fadeIn ease 12s;
  -moz-animation: fadeIn ease 12s;
  -o-animation: fadeIn ease 12s;
  -ms-animation: fadeIn ease 12s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
p {
  font-style: italic;
  font-family: helvetica;
}
<h1> {
  font-family: Futura;
}
<h2> {
  font-family: helvetica;
}
