<link href='https://fonts.googleapis.com/css?family=Nothing You Could Do' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

p {
  font-family: 'Raleway', ;
}
#text1 {
  font-family: 'Raleway', ;
}
#text2 {
font-family: 'Raleway', ;
margin: left;
width: 60%;
border: 3px solid #ffffff;
padding: 10px;
}
#text3 {
  font-family: 'Raleway', ;
  margin: right;
  width: 60%;
  padding: 10px;
}

h1 {
  font-family: 'Nothing You Could Do';font-size: 48px;
  font-size: 48px;
  color: white;
  opacity: 0.8;
  left: 50%;
  top: 50%;
  z-index:0;

}
#webcam-container {
  opacity:0.0;
  z-index:-1;
  right:20%;
}
body {background-color: black;}
p {
  color:white;
  opacity:0.7;
  z-index:0;
}
#text4.active {
  color:white;
}
#text4.visited{
  colour:white;
}
button {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border-style: double;
  border-color:white;
  border-width:7px;
  color: white;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.image {
  display: block;
  height: 640px;
  width: 480px;
  z-index:-1;
  position:relative;
}

.container {
  position: relative;
}

.text {
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}
